.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore some folders
renv/*
sensitive_data/*
packages/*

# Special folder for data that cannot be disclosed publically
sensitive_data/*
outputs/Niche_similarity/Hypervolumes/hypervolume*

# Ignore certain types of files
*.tif
*.tiff
*.jpg
*.jpeg
*.zip
*.psd
*.ai
*.lnk
*.pptx